body {
  margin: 0;
  font-family: "Segoe UI","Roboto","Oxygen","Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.App {
  text-align: center;
}
h1 {
  margin: 50px;
}

.city-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.card {
  width: 40%;
  border: 2px solid #000;
  margin: 40px 0 30px;
  text-align: left;
  padding: 5px 30px;
  line-height: 1.5rem;
  transition: all 0.3s linear;
}
div.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}
div.close {
  margin-top: 10px;
  text-align: right;
}
h4 {
  font-size: 2rem;
  margin: 0;
}
h6 {
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}
.card p:first-of-type {
  margin-top: 3px;
  margin-bottom: 30px;
}
form input[type="text"]{
  font-size: 1.2rem;
  width: 40%;
  height: 50px;
}
form button{
  margin-left: 5px;
  height: 55px;
}
.close button{
  border-radius: 50%;
  padding: 4px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 1.4rem;
}
@media screen and (max-width:600px){

  div.card {
    width: 70%;
  }
  form input[type="text"]{
    width: 70%;
    height: 50px;
  }
  form button{
    margin-left: 0;
    height: 55px;
  }
}
